@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");

/*** GENERAL STYLING ***/
html {
  font-family: "Cabin", sans-serif;
  color: #17252a;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.page {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  margin: 0 auto;
  background-color: #feffff;
}

h1 {
  font-weight: 700;
  color: #17252a;
}

p {
  margin-top: 0;
}

/*** HEADER STYLING ***/
header {
  background-color: #3aafa9;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em 3em;
  align-items: center;
}

.loginBtn,
.logoutBtn {
  color: #17252a;
  font-size: 18px;
  padding: 0.5em 1em;
  background-color: #def2f1;
  text-decoration: none;
  border-radius: 15px;
  transition: 300ms;
}

.loginBtn:hover,
.loginBtn:active,
.logoutBtn:hover,
.logoutBtn:active {
  background-color: #feffff;
}

.headerContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

.headerContent h2 {
  margin-right: 1em;
}

/*** TABLES STYLING ***/
table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  background-color: #c9e0df;
}

thead {
  background-color: #17252a;
  color: #feffff;
}

tr {
  border-bottom: 1px solid black;
}

tbody tr:nth-child(even) {
  background-color: #9eb8b6;
}

th,
td {
  padding: 1em;
}

.ticketDetailsBtn,
.inputBtn {
  font-family: "Cabin", sans-serif;
  background-color: #17252a;
  color: white;
  padding: 0.5em 1em;
  border: 1px solid #17252a;
  border-radius: 10px;
  transition: 100ms;
}

.ticketDetailsBtn:hover,
.inputBtn:hover {
  cursor: pointer;
  background-color: #2b7a78;
}

/*** USER/ADMIN VIEW STYLING ***/
.ticketList,
.ticketCreate {
  margin: 3em auto;
  width: 80%;
  background-color: #e5fffa;
  padding: 2em;
  border-radius: 25px;
}

.ticketCreate__field {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 1em;
  margin: 0 auto;
}

.ticketCreate__field label {
  width: 51%;
}

#subject {
  width: 50%;
}
