/*** TICKET DETAILS PAGE STYLING ***/
.backBtn {
  text-decoration: none;
  color: black;
  font-weight: 600;
  margin-bottom: 1em;
  transition: 300ms;
}

.backBtn:hover {
  color: purple;
}

.ticketDetails {
  margin: 3em auto;
  width: 80%;
  background-color: #def2f1;
  padding: 3em;
  border-radius: 25px;
  border-left: 3px solid #2b7a78;
  border-bottom: 3px solid #2b7a78;
}

.ticketDetails__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.ticketDetails__info_text {
  padding-bottom: 1em;
}

.closeBtn,
.openBtn {
  color: #feffff;
  background-color: #17262a;
  font-family: "Cabin", sans-serif;
  font-size: 18px;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  padding: 1em;
  transition: 100ms;
}

.closeBtn:hover,
.openBtn:hover {
  background-color: #3aafa9;
  color: #17262a;
  cursor: pointer;
}

.ticketDetails__info p {
  margin: 1em auto;
}

.messageText {
  background-color: #2b7a78;
  color: #feffff;
  padding: 1em;
  margin: 1em;
  border-radius: 15px;
}

.messageForm {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}

.messageForm form {
  width: 100%;
}

.messageForm label {
  vertical-align: top;
}

.messageForm textarea,
.messageForm input {
  margin-left: 1em;
}

.messageForm__text {
  width: 50%;
  height: 50px;
  resize: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.userId {
  font-size: 12px;
  margin: 0;
}

.dateSent {
  font-size: 12px;
  margin: 0;
  float: right;
}
