/*** USER/ADMIN VIEW STYLING ***/
.ticketList,
.ticketCreate {
  margin: 3em auto;
  width: 80%;
  background-color: #def2f1;
  padding: 2em;
  border-radius: 25px;
  border-left: 3px solid #2b7a78;
  border-bottom: 3px solid #2b7a78;
}

.ticketCreate__field {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 1em;
  margin: 0 auto;
}

.ticketCreate__field label {
  width: 51%;
}

#subject {
  width: 50%;
}

.messageForm__text {
  width: 50%;
  height: 50px;
  resize: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* 
.ticketDetailsBtn,
.inputBtn {
  font-family: "Cabin", sans-serif;
  background-color: #344b48;
  color: white;
  padding: 0.5em 1em;
  border: 1px solid black;
  border-radius: 10px;
  transition: 100ms;
}

.ticketDetailsBtn:hover,
.inputBtn:hover {
  cursor: pointer;
  background-color: grey;
} */
